.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log


test/input/org/matsim/contrib/carsharing/runExample/RunCarsharingIT/*

#Keep config.xml file
!test/input/org/matsim/contrib/carsharing/runExample/RunCarsharingIT/config.xml

test/output/*

test.old/*