.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log


test/input/*

#Keep config.xml file
!test/input/**/config.xml

test/output/*

test.old/*