<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

<!-- ====================================================================== -->

	<module name="controler" >
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="2" />
		<param name="outputDirectory" value="P:/Eclipse-MATSim/matsim/contribs/carsharing/test/output/org/matsim/contrib/carsharing/runExample/RunCarsharingIT/" />
		<param name="eventsFileFormat" value="xml" />
		<param name="writePlansInterval" value="1" />
		<param name="writeEventsInterval" value="1" />
		<param name="routingAlgorithmType" value="Dijkstra" />

		<param name="runId" value="run1" />

	</module>

<!-- ====================================================================== -->

		<module name="qsim">
			<param name="endTime" value="00:00:00"   />
			<param name="flowCapacityFactor" value="1"   />
			<param name="storageCapacityFactor" value="10.0"   />
			<param name="mainMode" value="car,twoway_vehicle"   />
		</module>

    <module name="Carsharing" >
		<param name="statsWriterFrequency" value="1" />
			<param name="vehiclelocations" value="CarsharingStations.xml" />
			<param name="membership" value="CSMembership.xml" />
	</module>

	<module name="TwoWayCarsharing" >
		<param name="vehiclelocationsTwoWayCarsharing" value="CarsharingStations.xml" />
		<param name="travelingTwoWayCarsharing" value="-6.0" />
		<param name="constantTwoWayCarsharing" value="-0.4" />
        <param name="timeFeeTwoWayCarsharing" value="-0.0" />
		<param name="distanceFeeTwoWayCarsharing" value="-0.0" />
        <param name="useTwoWayCarsharing" value="true" />
        <param name="searchDistanceTwoWayCarsharing" value="900.0" />
        <param name="votTwoWayCarsharing" value="2.0" />  <!-- add VoT Beta -->

	</module>

<!-- ====================================================================== -->

	<module name="TimeAllocationMutator" >

		<!-- Default:true; Defines whether time mutation changes an activity's duration. -->
		<param name="mutationAffectsDuration" value="true" />

		<!-- Default:1800.0; Defines how many seconds a time mutation can maximally shift a time. -->
		<param name="mutationRange" value="1800.0" />

		<!-- false; Use individual settings for each subpopulation. If enabled but no settings are found, regular settings are uses as fallback. -->
		<param name="useIndividualSettingsForSubpopulations" value="false" />
	</module>

<!-- ====================================================================== -->

    <module name="subtourModeChoice" >
		<param name="chainBasedModes" value="car,bike" />
		<param name="considerCarAvailability" value="true" />
		<param name="modes" value="car,bike,pt,walk" />
	</module>

<!-- ====================================================================== -->

	<module name="facilities" >
		<param name="inputFacilitiesFile" value="null" />
	</module>

<!-- ====================================================================== -->

	<module name="global" >
		<param name="coordinateSystem" value="Atlantis" /> <!-- Atlantis, CH1903_LV03 -->
		<param name="numberOfThreads" value="4" />
		<param name="randomSeed" value="4711" />
	</module>

<!-- ====================================================================== -->

	<module name="households" >
		<param name="inputFile" value="null" />
		<param name="inputHouseholdAttributesFile" value="null" />
	</module>

<!-- ====================================================================== -->

	<module name="network" >
		<param name="inputNetworkFile" value="network.xml" />
	</module>

<!-- ====================================================================== -->

	<module name="parallelEventHandling" >

		<!-- Estimated number of events during mobsim run. An optional optimization hint for the framework. -->
		<param name="estimatedNumberOfEvents" value="null" />

		<!-- Number of threads for parallel events handler. 0 or null means the framework decides by itself. -->
		<param name="numberOfThreads" value="null" />

		<!-- If enabled, each event handler is assigned to its own thread. Note that enabling this feature disabled the numberOfThreads option! This feature is still experimental! -->
		<param name="oneThreadPerHandler" value="false" />

		<!-- If enabled, it is ensured that all events that are created during a time step of the mobility simulation are processed before the next time step is simulated. E.g. neccessary when within-day replanning is used. -->
		<param name="synchronizeOnSimSteps" value="true" />
	</module>

<!-- ====================================================================== -->

	<module name="plans" >

		<!-- String: minOfDurationAndEndTime tryEndTimeThenDuration endTimeOnly. Anything besides minOfDurationAndEndTime will internally use a different (simpler) version of the TimeAllocationMutator. -->
		<param name="activityDurationInterpretation" value="tryEndTimeThenDuration" />

		<!-- The Coordinates Reference System in which the coordinates are expressed in the input file. At import, the coordinates will be converted to the coordinate system defined in "global", and willbe converted back at export. If not specified, no conversion happens. -->
		<param name="inputCRS" value="null" />

		<param name="inputPersonAttributesFile" value="plansAttributes.xml" />
		<param name="inputPlansFile" value="plans.xml" />

		<!-- Defines how routes are stored in memory. Currently supported: LinkNetworkRoute, CompressedNetworkRoute. -->
		<param name="networkRouteType" value="LinkNetworkRoute" />

		<!-- (not tested) will remove plan attributes that are presumably not used, such as activityStartTime. default=false -->
		<param name="removingUnnecessaryPlanAttributes" value="false" />

		<!-- Name of the (Object)Attribute defining the subpopulation to which pertains a Person (as freight, through traffic, etc.). The attribute must be of String type.  Change away from default only in desperate situations. -->
		<param name="subpopulationAttributeName" value="subpopulation" />
	</module>

<!-- ====================================================================== -->

<module name="strategy">

		<param name="ModuleProbability_1" value="0.0" />
		<param name="Module_1" value="SelectExpBeta" />

		<param name="maxAgentPlanMemorySize" value="5" />
		
		<param name="ModuleProbability_2" value="0.5" />
		<param name="Module_2" value="RandomTripToCarsharingStrategy" />
		<param name="ModuleDisableAfterIteration_2" value="1000" />

        <param name="ModuleProbability_3" value="1.0" />
        <param name="Module_3" value="CarsharingSubtourModeChoiceStrategy" />
		<param name="ModuleDisableAfterIteration_3" value="1000" />
		
		 <param name="ModuleProbability_4" value="1.0" />
        <param name="Module_4" value="SubtourModeChoice" />
		<param name="ModuleDisableAfterIteration_4" value="1000" />

</module>

<!-- ====================================================================== -->

    <module name="subtourModeChoice" >
		<param name="chainBasedModes" value="car" />
		<param name="considerCarAvailability" value="true" />
		<param name="modes" value="car,pt" />
	</module>

<!-- ====================================================================== -->

	<!-- triangle -->
	<module name="planCalcScore" >
		<param name="writeExperiencedPlans" value="true" />

		<param name="PathSizeLogitBeta" value="1.0" />
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18.0" />
		<param name="traveling" value="-6.0" />
		<param name="travelingPt" value="-6.0" />
		<param name="travelingBike" value="-26.0" />
		<param name="traveling_access_walk_tw" value="-6"/>
		<param name="traveling_egress_walk_tw" value="-6"/>
		<param name="traveling_twoway_vehicle" value="-6"/>
		
		<param name="traveling_access_walk_ff" value="0"/>
		<param name="traveling_egress_walk_ff" value="0"/>
		<param name="traveling_freefloating_vehicle" value="0"/>
		
		<param name="traveling_access_walk_ow" value="0"/>
		<param name="traveling_egress_walk_ow" value="0"/>
		<param name="traveling_oneway_vehicle" value="0"/>
		
		<param name="constantCar" value="-0.4" />

		<param name="constantBike" value="-0.4" />
		<param name="constantPt" value="-4.0" />
		<param name="constantWalk" value="-0.0" />

		<param name="performing" value="6.0" />
		<param name="earlyDeparture" value="0" />
		<param name="waiting" value="0" />
		
		<param name="activityType_0" value="h" />
		<param name="activityClosingTime_0" value="undefined" />
		<param name="activityEarliestEndTime_0" value="undefined" />
		<param name="activityLatestStartTime_0" value="undefined" />
		<param name="activityMinimalDuration_0" value="08:00:00" />
		<param name="activityOpeningTime_0" value="undefined" />
		<param name="activityTypicalDuration_0" value="08:00:00" />
		
		<param name="activityType_7" value="w" />
		<param name="activityClosingTime_7" value="undefined" />
		<param name="activityEarliestEndTime_7" value="undefined" />
		<param name="activityLatestStartTime_7" value="undefined" />
		<param name="activityMinimalDuration_7" value="07:00:00" />
		<param name="activityOpeningTime_7" value="undefined" />
		<param name="activityTypicalDuration_7" value="06:00:00" />
		
		<param name="activityType_1" value="car interaction" />
		<param name="activityClosingTime_1" value="undefined" />
		<param name="activityEarliestEndTime_1" value="undefined" />
		<param name="activityLatestStartTime_1" value="undefined" />
		<param name="activityMinimalDuration_1" value="undefined" />
		<param name="activityOpeningTime_1" value="undefined" />
		<param name="activityTypicalDuration_1" value="00:02:00" />
		
		<param name="activityType_3" value="bike interaction" />
		<param name="activityClosingTime_3" value="undefined" />
		<param name="activityEarliestEndTime_3" value="undefined" />
		<param name="activityLatestStartTime_3" value="undefined" />
		<param name="activityMinimalDuration_3" value="undefined" />
		<param name="activityOpeningTime_3" value="undefined" />
		<param name="activityTypicalDuration_3" value="00:02:00" />
		
		<param name="activityType_4" value="other interaction" />
		<param name="activityClosingTime_4" value="undefined" />
		<param name="activityEarliestEndTime_4" value="undefined" />
		<param name="activityLatestStartTime_4" value="undefined" />
		<param name="activityMinimalDuration_4" value="undefined" />
		<param name="activityOpeningTime_4" value="undefined" />
		<param name="activityTypicalDuration_4" value="00:02:00" />
		
		<param name="activityType_5" value="walk interaction" />
		<param name="activityClosingTime_5" value="undefined" />
		<param name="activityEarliestEndTime_5" value="undefined" />
		<param name="activityLatestStartTime_5" value="undefined" />
		<param name="activityMinimalDuration_5" value="undefined" />
		<param name="activityOpeningTime_5" value="undefined" />
		<param name="activityTypicalDuration_5" value="00:02:00" />
		
		<param name="activityType_8" value="ff_interaction" />
		<param name="activityClosingTime_8" value="00:00:00" />
		<param name="activityEarliestEndTime_8" value="undefined" />
		<param name="activityLatestStartTime_8" value="undefined" />
		<param name="activityMinimalDuration_8" value="00:00:00" />
		<param name="activityOpeningTime_8" value="08:00:00" />
		<param name="activityTypicalDuration_8" value="00:02:00" />
		
		<param name="activityType_9" value="ow_interaction" />
		<param name="activityClosingTime_9" value="00:00:00" />
		<param name="activityEarliestEndTime_9" value="undefined" />
		<param name="activityLatestStartTime_9" value="undefined" />
		<param name="activityMinimalDuration_9" value="00:00:00" />
		<param name="activityOpeningTime_9" value="08:00:00" />
		<param name="activityTypicalDuration_9" value="00:02:00" />
		
		<param name="activityType_10" value="tw_interaction" />
		<param name="activityClosingTime_10" value="00:00:00" />
		<param name="activityEarliestEndTime_10" value="undefined" />
		<param name="activityLatestStartTime_10" value="undefined" />
		<param name="activityMinimalDuration_10" value="00:00:00" />
		<param name="activityOpeningTime_10" value="08:00:00" />
		<param name="activityTypicalDuration_10" value="00:02:00" />
		
		<param name="activityType_11" value="leisure" />
		<param name="activityClosingTime_11" value="undefined" />
		<param name="activityEarliestEndTime_11" value="undefined" />
		<param name="activityLatestStartTime_11" value="undefined" />
		<param name="activityMinimalDuration_11" value="undefined" />
		<param name="activityOpeningTime_11" value="undefined" />
		<param name="activityTypicalDuration_11" value="02:00:00" />
		
		<param name="activityType_12" value="shopping" />
		<param name="activityClosingTime_12" value="undefined" />
		<param name="activityEarliestEndTime_12" value="undefined" />
		<param name="activityLatestStartTime_12" value="undefined" />
		<param name="activityMinimalDuration_12" value="undefined" />
		<param name="activityOpeningTime_12" value="undefined" />
		<param name="activityTypicalDuration_12" value="01:00:00" />

		<param name="activityType_13" value="other" />
		<param name="activityClosingTime_13" value="undefined" />
		<param name="activityEarliestEndTime_13" value="undefined" />
		<param name="activityLatestStartTime_13" value="undefined" />
		<param name="activityMinimalDuration_13" value="undefined" />
		<param name="activityOpeningTime_13" value="undefined" />
		<param name="activityTypicalDuration_13" value="00:30:00" />
		
	</module>
	
<!-- ====================================================================== -->

	<module name="planscalcroute" >

		<!-- All the modes for which the router is supposed to generate network routes (like car) -->
		<param name="networkModes" value="car" />

		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="bike" />

			<!-- Free-speed factor for a teleported mode. Travel time = teleportedModeFreespeedFactor * <freespeed car travel time>. Insert a line like this for every such mode. Please do not set teleportedModeFreespeedFactor as well as teleportedModeSpeed for the same mode, but if you do, +teleportedModeFreespeedFactor wins over teleportedModeSpeed. -->
			<param name="teleportedModeFreespeedFactor" value="null" />

			<!-- Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode. -->
			<param name="teleportedModeSpeed" value="4.166666666666667" />
		</parameterset>

		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="walk" />

			<!-- Free-speed factor for a teleported mode. Travel time = teleportedModeFreespeedFactor * <freespeed car travel time>. Insert a line like this for every such mode. Please do not set teleportedModeFreespeedFactor as well as teleportedModeSpeed for the same mode, but if you do, +teleportedModeFreespeedFactor wins over teleportedModeSpeed. -->
			<param name="teleportedModeFreespeedFactor" value="null" />

			<!-- Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode. -->
			<param name="teleportedModeSpeed" value="0.8333333333333333" />
		</parameterset>

		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="undefined" />

			<!-- Free-speed factor for a teleported mode. Travel time = teleportedModeFreespeedFactor * <freespeed car travel time>. Insert a line like this for every such mode. Please do not set teleportedModeFreespeedFactor as well as teleportedModeSpeed for the same mode, but if you do, +teleportedModeFreespeedFactor wins over teleportedModeSpeed. -->
			<param name="teleportedModeFreespeedFactor" value="null" />

			<!-- Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode. -->
			<param name="teleportedModeSpeed" value="13.88888888888889" />
		</parameterset>
		
		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="ride" />

			<!-- Free-speed factor for a teleported mode. Travel time = teleportedModeFreespeedFactor * <freespeed car travel time>. Insert a line like this for every such mode. Please do not set teleportedModeFreespeedFactor as well as teleportedModeSpeed for the same mode, but if you do, +teleportedModeFreespeedFactor wins over teleportedModeSpeed. -->
			<param name="teleportedModeFreespeedFactor" value="1.0" />

			<!-- Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode. -->
			<param name="teleportedModeSpeed" value="null" />
		</parameterset>

		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="pt" />

			<!-- Free-speed factor for a teleported mode. Travel time = teleportedModeFreespeedFactor * <freespeed car travel time>. Insert a line like this for every such mode. Please do not set teleportedModeFreespeedFactor as well as teleportedModeSpeed for the same mode, but if you do, +teleportedModeFreespeedFactor wins over teleportedModeSpeed. -->
			<param name="teleportedModeFreespeedFactor" value="null" />

			<!-- Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode. -->
			<param name="teleportedModeSpeed" value="4.5" />
		</parameterset>

	</module>

<!-- ====================================================================== -->

	<module name="scenario" >
	</module>

<!-- ====================================================================== -->

	<module name="travelTimeCalculator" >

		<!-- Transport modes that will be respected by the travel time collector. 'car' is default, which includes also busses from the pt simulation module. Use this parameter in combination with 'filterModes' = true! -->
		<param name="analyzedModes" value="car" />

		<param name="calculateLinkToLinkTravelTimes" value="false" />
		<param name="calculateLinkTravelTimes" value="true" />

		<!-- If true, link travel times from legs performed on modes not included in the 'analyzedModes' parameter are ignored. -->
		<param name="filterModes" value="false" />

		<!-- The lenght (in sec) of the time period that is splited into time bins; an additional time bin is created to aggregate all travel times collected after maxTime -->
		<param name="maxTime" value="108000" />

		<!-- If true, link travel times are measured and calculated separately for each mode in analyzedModes. Other modes are ignored. If true, filterModes has no effect. -->
		<param name="separateModes" value="false" />

		<!-- How to deal with congested time bins that have no link entry events. `optimistic' assumes free speed (too optimistic); 'experimental_LastMile' is experimental and probably too pessimistic. -->
		<param name="travelTimeAggregator" value="optimistic" />

		<!-- The size of the time bin (in sec) into which the link travel times are aggregated for the router -->
		<param name="travelTimeBinSize" value="900" />

		<!-- possible values: nullTravelTimeCalculatorArray TravelTimeCalculatorHashMap  -->
		<param name="travelTimeCalculator" value="TravelTimeCalculatorArray" />

		<!-- How to deal with link entry times at different positions during the time bin. Currently supported: average, linearinterpolation -->
		<param name="travelTimeGetter" value="average" />
	</module>

<!-- ====================================================================== -->

	<module name="vehicles" >
		<param name="vehiclesFile" value="null" />
	</module>

<!-- ====================================================================== -->

	<module name="vspExperimental" >

		<!-- (do not use except of you have to) There was a problem with pt interaction scoring.  Some people solved it by overwriting the parameters of the pt interaction activity type.  Doing this now throws an Exception.  If you still insist on doing this, set the following to true. -->
		<param name="isAbleToOverwritePtInteractionParams" value="false" />

		<param name="isGeneratingBoardingDeniedEvent" value="false" />

		<!-- if an approximation of the opportunity cost of time is included into the radius calculation for location choice.`true' will be faster, but it is an approximation.  Default is `true'; `false' is available for backwards compatibility. -->
		<param name="isUsingOpportunityCostOfTimeForLocationChoice" value="true" />

		<param name="logitScaleParamForPlansRemoval" value="1.0" />

		<!-- Options: | ignore | info | warn | abort | .  When violating VSP defaults, this results in nothing, logfile infos, logfile warnings, or aborts.  Members of VSP should use `abort' or talk to kai. -->
		<param name="vspDefaultsCheckingLevel" value="ignore" />

		<!-- if true then writes output_events in output directory.  default is `false'. Will only work when lastIteration is multiple of events writing interval -->
		<param name="writingOutputEvents" value="true" />
	</module>

<!-- ====================================================================== -->

</config>
